@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Sacramento&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}